
body {
	background-color: #121212;
	background-image: url(include/image/bgimg.jpg) ;
	line-height: 35px;
	font-size: 1em;
	color: #212121;
	margin: 0;
	font-weight: 500;
	font-family: arial, sans-serif;
	text-align: center;
}

.header {
	background-color: #242c2e;
	height: 57px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	word-spacing: 30px;
	margin-top: 20px;
	border-right: 2px solid black;
}

.header_links {
	float: left;
	margin-left: 50px;
	margin-top: 28px;
}

.header a {
	color: #FFFFFF; 
	font-size: 1.4em;
	text-decoration: none;
}
.header a:hover {
	background-color: #353d3f;
	color: #FFFFFF; 
	font-size: 1.4em;
	text-decoration: none;
}


a.login {
	color: #55FF43;
}

.info {
	margin-top: 30px;
	background-color: #DCDCDC;
	vertical-align: text-top; 
	text-align: justify;
	clear: both;
	wit
}

.content {
	margin-top: 40px;
	text-align: center;
	color: #121212;
	background-color: #FDFDFD;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	vertical-align: top;
}

.leftcontent {
	width: 500px;
	float: left;
	margin-left: 20px;
}

.rightcontent {
	background-color: #e4ffde;
	width: 375px;
	text-align: left;
	float: right;	
	padding-left: 20px;
	margin-right: 40px;
}

.leftcontentSecond {
	width: 500px;
	margin-left: 50px;
	float: left;
	text-align: left;
	background-color: #e4ffde;
	padding-right: 20px;
}

.rightcontentSecond
{
	padding-left: 20px;
	float: right;
	margin-left: 20px;
	margin-right: 40px;
	width: 375px;
	text-align: left;
}

.welcome {
	float: right;
	padding-bottom: 5px;
}

.addJobDialog {
	float: left;
	display : none;
	background-color: white;
}

form {
	padding: 0;
	margin: 0;
}

th.header { 
    font-size: 0.8em;
    height: 28px;
    background-image: url(/include/image/bg.png);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 26px; 
    padding-bottom: 8px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
} 

th.headerSortDown { 
    background-image: url(/include/image/desc.png);     
    background-color: #3399FF; 
}


th.headerSortUp { 
    background-image: url(/include/image/asc.png);     
    background-color: #3399FF; 
} 

