
body {
	background-color: #121212;
	background-image: url(include/image/bgimg.jpg) ;
	line-height: 35px;
	font-size: 1em;
	color: #212121;
	margin: 0;
	font-weight: 500;
	font-family: arial, sans-serif;
	text-align: center;
}

.header {
	background-color: #242c2e;
	height: 57px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	word-spacing: 30px;
	margin-top: 20px;
	border-right: 2px solid black;
}

.header_links {
	float: left;
	margin-left: 50px;
	margin-top: 28px;
}

.header a {
	color: #FFFFFF; 
	font-size: 1.4em;
	text-decoration: none;
}
.header a:hover {
	background-color: #353d3f;
	color: #FFFFFF; 
	font-size: 1.4em;
	text-decoration: none;
}


a.login {
	color: #55FF43;
}

.info {
	margin-top: 30px;
	background-color: #DCDCDC;
	vertical-align: text-top; 
	text-align: justify;
	clear: both;
}

.content {
	text-align: center;
	color: #121212;
	background-color: #FDFDFD;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	vertical-align: top;
}

.leftcontent {

	margin-left: 125px;
	float: left;
	padding-right: 20px;
}

.rightcontent {
	background-color: #e4ffde;
	width: 375px;
	text-align: left;
	float: left;	
	padding-left: 20px;

}

.leftcontentSecond {
	float: left;
	text-align: left;
	background-color: #e4ffde;
	padding-right: 20px;
}

.rightcontentSecond
{
	float: left;
	padding-left: 40px;
}

form {
	padding: 0;
	margin: 0;
}
